.box-shadow {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 166px;

    box-shadow: 0px 3px 10px rgba(6, 125, 194, 0.1);
}

.container {
    display: grid;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;

    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

header {
    grid-column: 1/13;
}

aside {
    margin-top: 15px;

    grid-column: 1/4;
    grid-row: 3/4;
}

article.main {
    margin-top: 15px;

    grid-column: 4/13;
}

footer {
    grid-column: 1/13;
}

ul#menu-catalog {
    display: grid;

    grid-row-gap: 10px;
}

ul#menu-catalog a {
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;

    user-select: none;
    transition: color 0.3s;
    text-decoration: none;
}

ul#menu-catalog a:hover {
    color: var(--secondary);
}

ul#menu-catalog a:active {
    color: var(--primary);
}

ul#menu-catalog .current-menu-item a {
    color: var(--primary);
}

ul#menu-catalog svg {
    flex-shrink: 0;

    margin-right: 12px;
}

.company-info {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.company-info > * {
    align-items: center;
}

a.custom-logo-link {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;

    grid-column: span 3;
}

.contacts-search-container {
    position: relative;

    display: flex;
    align-items: start;
    flex-flow: column;
    justify-content: center;

    grid-column: span 5;
}

form.search-form {
    display: flex;

    width: 240px;
    margin-top: 12px;
}

input.search-form__input {
    font-size: 14px;
    line-height: 22px;

    flex-grow: 1;
    flex-shrink: 0;

    max-width: 240px;
    padding: 2px 18px;

    border: 1px solid #d2d2d2;
    border-radius: 50px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
}

input.search-form__input:focus {
    border: 1px solid #1b1b1b;
    box-shadow: none;
}

button#searchsubmit {
    margin-left: -36px;

    border: none;
    border-radius: 0;
    background-color: inherit;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts > div {
    display: flex;
    align-items: center;
}

.contacts a {
    font-size: 16px;
    line-height: 150%;

    margin-left: 10px;

    text-decoration: none;

    color: var(--primary);
}

.email {
    margin-left: 20px;
}

.company-name {
    display: flex;
    align-items: end;
    flex-flow: column;
    justify-content: center;

    grid-column: span 4;
}

.company-name span {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;

    text-align: end;

    color: var(--primary);
}

.company-name span:first-child {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    color: var(--secondary);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 66px;
}

ul.header-nav {
    display: flex;
    align-items: center;
}

ul.header-nav a {
    font-size: 18px;
    line-height: 150%;

    margin-right: 40px;

    text-decoration: none;
}

.window-opening-button {
    cursor: pointer;

    border-radius: 50px;
}

.order {
    font-size: 18px;

    padding: 12px 24px;

    border: 2px solid var(--secondary);
    background-color: var(--white);
}

.reqPrice {
    font-size: 16px;
    font-weight: 700;

    align-self: flex-start;

    margin-top: 34px;
    padding: 8px 30px;

    border: 1px solid #c7cb00;
    background: linear-gradient(
        var(--akcent),
        15%,
        #fbff84,
        85%,
        var(--akcent)
    );
    background-color: var(--akcent);
}

.reqPrice:hover {
    transition: all 0.5s;

    background: linear-gradient(#f4ff29, 15%, #fbffb4, 85%, #f5ff3a);
}

.yoast-breadcrumbs {
    font-size: 14px;
    line-height: 20px;

    padding: 0 10px;

    grid-column: 1/13;
}

.product-box {
    display: flex;
}

.product_item {
    max-width: 205px;
    margin-right: 20px;
    padding: 10px;

    text-align: center;

    box-shadow: 0px 0px 10px #00000010;
}

.product_item a {
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    text-decoration: none;
}

.item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    margin-top: 16px;

    color: var(--primary);
}

.product_card_description {
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    flex-flow: column wrap;

    margin-top: 8px;
}

/* tart template Product card */

.product-card-top {
    display: grid;
    align-items: center;

    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
}

.product-images {
    display: flex;

    grid-column: 1/5;
}

.main-img {
    margin-right: 20px;
}

.thumbnail-block img {
    max-width: 80px;
    max-height: 80px;
}

.thumbnail-block img.alignnone {
    margin-top: 20px;
}

.product-params {
    display: flex;
    flex-flow: column wrap;

    border-radius: 5px;

    gap: 14px;
    grid-column: 6/10;
}

.product-param {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #d8f2f8;
}

.nav-tabs {
    margin-top: 30px;
}

.tabs-headers {
    display: flex;

    margin: 10px 0 0 0;

    gap: 10px;
}

li.tab-header {
    display: block;

    padding: 8px 30px 6px 30px;

    cursor: pointer;
    user-select: none;

    color: #545454;
    border: 1px solid #00000000;
    border-bottom: 1px solid #afafaf;
    border-radius: 3px 3px 0 0;
    background-color: var(--bgblue);
}

li.tab-header.active-tab-header {
    z-index: 2;

    color: var(--typografy-primary);
    border: 1px solid #afafaf;
    border-bottom: 1px solid #00000000;
    background-color: var(--white);
}

li.tab-header:hover {
    transition: all 0.3s;

    color: var(--typografy-primary);
    background: #96d6f7;
}

li.tab-header.active-tab-header:hover {
    z-index: 2;

    color: var(--typografy-primary);
    border: 1px solid #afafaf;
    border-bottom: 1px solid #00000000;
    background-color: var(--white);
}

.horizontal-line {
    position: relative;
    top: -1px;

    height: 1px;

    border-bottom: 1px solid #afafaf;
}

.tab-content {
    overflow: hidden;

    height: 0;
    padding: 0;

    transform: translateY(-3%);

    opacity: 0;
}

.tab-content.active-tab-content {
    height: 100%;
    min-height: 400px;
    padding: 22px 20px;

    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateY(0);

    opacity: 100;
}

/*
.tabs-contents {
    display: block;

    background: #fff;
}
*/

/* nd template Product card */

.modal-bg,
.modal-window {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: #00000087;
}

.modal-window-opened {
    z-index: 103;

    overflow: visible;

    height: 0;

    transition: opacity 0.2s ease-out;

    opacity: 100;
}

.modal-bg-opened {
    z-index: 102;

    transition: opacity 0.2s ease-out;

    opacity: 100;
}

.contact-form {
    position: relative;
    top: 80px;

    width: 450px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;
    background-color: white;
}

.contact-form .contact-form__field {
    display: flex;
    flex-flow: column wrap;

    margin: 10px 0;
}

.modal-window-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    overflow: hidden;

    padding-right: 17px;
}

.close-button {
    font-size: 26px;
    font-weight: 500;
    line-height: normal;

    margin-right: -10px;
    padding: 0 10px;

    cursor: pointer;

    color: #7c7c7c;
    border: none;
    background-color: white;
}

.contact-form__success {
    margin-top: 15px;
}

#callback-message {
    resize: vertical;
}

.required-field {
    color: red;
}
